.scrolling-background {
    height: 500px;
    background-color: #a00;
}

.headline, .sub-headline {
    text-align: center;
}
.headline {
    margin-top: 15%;
    margin-bottom: 10%;
}

#search-form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    color: #000;
    background-color: rgba(70, 69, 69, 0.8);
    text-align: center
}
    #search-form label {
        color: #fff;
        text-align: left;
        display: block;
        padding-left: 5px;
    }
    .form-group {
        display: inline-block;
        margin: 0 2px;
    }
    #movie-year {
        width: 8em;
    }
    #search-btn {
        display: block;
    }
#movie-info {
    list-style: none;
    padding: 0;
}
    #movie-info .poster {
        float: left;
        width: 300px;
        height: 1000px;
        margin-right: 20px;
    }
        #movie-info .poster img {
            width: 100%;
        }
    #movie-info .title {
        font-size: 150%;
        display: inline-block;
    }
    #movie-info .rated {
        display: inline-block;
        vertical-align: top;
        margin-top: 0.75em;
        margin-left: 1em;
    }
    #movie-info .stars,
    #movie-info .year,
    #movie-info .genre {
        color: #aaa;
        display: inline-block;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
    }
    #movie-info .stars {
        color: #FFD700;
    }
    #movie-info .plot {
        margin-bottom: 0.5em;
    }
    #movie-info .list {
        list-style-type: square;
    }
