html {
    /* Always show scrollbars */
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

.scrolling-background {
    min-height: 500px;
    background-color: #a00;
    /*TODO: Make a scrolling background with movie posters*/
    /*TODO: Make everything responsive*/
}

.loading-spinner {
    display: none;
    position: relative;
    top: 1.5em;
    z-index: -2;
    color: white;
}
.loading-enabled {
    display: inline;
    z-index: 20;
}
.loading-disabled,
.loading-disabled:hover,
.loading-disabled:active,
.loading-disabled:focus {
    color: rgba(0,0,0,0);
}

.headline, .sub-headline {
    text-align: center;
}
.headline {
    margin-top: 15%;
    margin-bottom: 100px;
}
.sub-headline {
    margin-bottom: 2em;
}

#search-form {
    width: 500px;
    margin: 0 auto 50px auto;
    padding: 20px;
    border-radius: 4px;
    color: #000;
    background-color: rgba(70, 69, 69, 0.8);
    text-align: center
}
    #search-form label {
        color: #fff;
        text-align: left;
        display: block;
        padding-left: 5px;
    }
    .form-group {
        display: inline-block;
        margin: 0 2px;
    }
    #movie-year {
        width: 8em;
    }
    #search-btn {
        display: block;
    }

#no-results {
    display: none;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    opacity: 0.5;
    text-shadow: 0 -1px 0 #333;
}

#movie-results {
    opacity: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

#movie-poster img {
    width: 100%;
}

#movie-info {
    list-style: none;
    float: none;
}
    #movie-info .title {
        font-size: 150%;
        display: inline-block;
    }
    #movie-info .rated {
        display: inline-block;
        vertical-align: top;
        margin-top: 0.75em;
        margin-left: 1em;
    }
    #movie-info .stars,
    #movie-info .year,
    #movie-info .genre {
        color: #999999;
        display: inline-block;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
    }
    #movie-info .stars {
        color: #FFD700;
    }
    #movie-info .plot {
        margin-bottom: 0.5em;
    }
    #movie-info .movie-label {
        display: block;
        color: #fff;
    }

    #movie-info .runtime,
    #movie-info .director,
    #movie-info .actors,
    #movie-info .writer {
        color: #999999
    }
    #movie-info .runtime {
        margin-bottom: 0.5em;
    }
