.headline, .sub-headline {
    text-align: center;
}


#search-form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px auto;
    color: black;
    background-color: white;
}