decorator==3.4.0
Flask==0.10.1
Flask-SQLAlchemy==2.0
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
omdb==0.3.1
pbr==0.10.8
requests==2.6.0
six==1.9.0
SQLAlchemy==1.0.0b1
sqlalchemy-migrate==0.9.5
sqlparse==0.1.14
Tempita==0.5.3.dev0
Werkzeug==0.10.1
