html {
    /* Always show scrollbars */
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    background-image: url('../img/striped_background.png');
    background-repeat: repeat;
}

.vertical-space {
    margin-top: 20px;
}

.header-container {
    height: 500px;
    background-image: url('../img/posters.jpg');
    background-repeat: repeat;
}
    .header-container .row {
        position: relative;
        z-index: 3;
    }
#scrolling-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
    z-index: 3;
    overflow: hidden;
}
    #scrolling-background .transparent-overlay {
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 500px;
        z-index: 5;
    }
    #scrolling-background .background-poster {
        position: relative;
        width: 3200px;
        height: 100px;
        z-index: 2;
        background-repeat: repeat;
    }
    .scroll-left {
        -webkit-animation: loop_left 90s linear infinite;
        -moz-animation: loop_left 90s linear infinite;
        -o-animation: loop_left 90s linear infinite;
        animation: loop_left 90s linear infinite;
    }
    .scroll-right {
        left: -1600px;
        -webkit-animation: loop_right 90s linear infinite;
        -moz-animation: loop_right 90s linear infinite;
        -o-animation: loop_right 90s linear infinite;
        animation: loop_right 90s linear infinite;
    }

    .background-0 {
        background-image: url('../img/posters_0.jpg');
    }
    .background-1 {
        background-image: url('../img/posters_1.jpg');
    }
    .background-2 {
        background-image: url('../img/posters_2.jpg');
    }
    .background-3 {
        background-image: url('../img/posters_3.jpg');
    }
    .background-4 {
        background-image: url('../img/posters_4.jpg');
    }
    .background-5 {
        background-image: url('../img/posters_5.jpg');
    }
    .background-6 {
        background-image: url('../img/posters_6.jpg');
    }
    .background-7 {
        background-image: url('../img/posters_7.jpg');
    }
    .background-8 {
        background-image: url('../img/posters_8.jpg');
    }
    .background-9 {
        background-image: url('../img/posters_9.jpg');
    }

.loading-spinner {
    display: none;
    position: relative;
    top: 1.5em;
    z-index: -2;
    color: white;
}
.loading-enabled {
    display: inline;
    z-index: 20;
}
.loading-disabled,
.loading-disabled:hover,
.loading-disabled:active,
.loading-disabled:focus {
    color: rgba(0,0,0,0);
}

.headline, .sub-headline {
    text-align: center;
    text-shadow: 1px 1px 4px rgb(70, 69, 69);
}
.headline {
    margin-top: 150px;
    margin-bottom: 100px;
}
.sub-headline {
    margin-bottom: 2em;
}

#search-form {
    width: 500px;
    margin: 0 auto 50px auto;
    padding: 20px;
    border-radius: 4px;
    color: #000;
    background-color: rgba(70, 69, 69, 0.8);
    text-align: center
}
    #search-form label {
        color: #fff;
        text-align: left;
        display: block;
        padding-left: 5px;
    }
    .form-group {
        display: inline-block;
        margin: 0 2px;
        vertical-align: bottom;
    }
    #movie-year {
        width: 8em;
    }
    #search-btn {
        display: block;
    }

#no-results {
    display: none;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    opacity: 0.5;
    text-shadow: 0 -1px 0 #333;
}

#movie-results {
    opacity: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

#movie-poster img {
    width: 100%;
}

.movie-sidebar {
    float: none;
}
#movie-info {
    list-style: none;
    padding: 0;
}
    #movie-info .title {
        font-size: 150%;
        display: inline-block;
    }
    #movie-info .rated {
        display: inline-block;
        vertical-align: top;
        margin-top: 0.75em;
        margin-left: 1em;
    }
    #movie-info .stars,
    #movie-info .year,
    #movie-info .genre {
        color: #999999;
        display: inline-block;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
    }
    #movie-info .stars {
        color: #FFD700;
    }
    #movie-info .plot {
        margin-bottom: 0.5em;
    }
    #movie-info .movie-label {
        display: block;
        color: #fff;
    }

    #movie-info .runtime,
    #movie-info .director,
    #movie-info .actors,
    #movie-info .writer,
    #movie-info .awards {
        color: #999999
    }
    #movie-info .runtime {
        margin-bottom: 0.5em;
    }

@media (max-width: 500px) {
    #search-form {
        width: 100%;
    }
    .form-group {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
    }
        .form-group:first-child {
            margin-top: 0;
        }
        .form-group:last-child {
            margin-bottom: 0;
        }
    #movie-title,
    #movie-year,
    #search-btn {
        width: 100%;
    }
}

@-webkit-keyframes loop_left { 0% { left: 0;} 100% { left: -1600px; } }
@-moz-keyframes loop_left { 0% { left: 0;} 100% { left: -1600px; } }
@-o-keyframes loop_left { 0% { left: 0;} 100% { left: -1600px; } }
@-keyframes loop_left { 0% { left: 0;} 100% { left: -1600px; } }

@-webkit-keyframes loop_right { 0% { left: -1600px} 100% { left: 0; } }
@-moz-keyframes loop_right { 0% { left: -1600px} 100% { left: 0; } }
@-o-keyframes loop_right { 0% { left: -1600px} 100% { left: 0; } }
@-keyframes loop_right { 0% { left: -1600px} 100% { left: 0; } }
