{% extends "base.html" %}

{% block content %}
<div id="scrolling-background"><div class="transparent-overlay"></div></div>
<div class="container-fluid header-container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="headline">Find info on millions of movies</h1>
    </div>        
  </div>
  <div class="row">
    <form name="searchForm" id="search-form" ng-controller="SearchController as searchCtrl" ng-submit="searchCtrl.searchMovie()" novalidate>
      <div class="form-group">
        <label for="movie-title">Movie Title</label>
        <input ng-model="searchCtrl.movie.title" type="text" class="form-control" id="movie-title" placeholder="e.g. Pulp Fiction" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Please enter the title of a movie.">
      </div>
      <div class="form-group">
        <label for="movie-year">Release Year</label>
        <input ng-model="searchCtrl.movie.year" type="text" class="form-control" id="movie-year" placeholder="(Optional)" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Hmmm that year doesn't seem right.">
      </div>
      <div class="form-group">
        <i class="fa fa-spin fa-spinner fa-lg loading-spinner"></i>
        <button id="search-btn" class="btn btn-success">Search</button>
      </div>
    </form>
  </div>
</div>
<div id="results-page" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div id="movie-results" class="row" ng-controller="MovieController as movie">
        <div id="movie-poster" class="col-xs-12 col-sm-5">
          <img src="" alt="">
          <ul class="share-links">
            <li><a href="#" class="ssk ssk-text ssk-facebook">Share on Facebook</a></li>
            <li><a href="#" class="ssk ssk-text ssk-twitter">Share on Twitter</a></li>
            <li><a href="#" class="ssk ssk-text ssk-google-plus">Share on Google+</a></li>
          </ul>
        </div>
        <div class="movie-sidebar col-xs-12 col-sm-7 col-sm-offset-5" >
          <div class="vertical-space visible-xs"></div>
          <ul id="movie-info">
            <!-- Top Area -->
            <li class="title"></li>
            <li class="rated label label-default"></li>
            <li class="divider"></li>
            <li class="stars"></li>
            <li class="year"></li>
            <li class="genre"></li>

            <!-- Middle Area -->
            <li class="plot"></li>

            <!-- Bottom Area -->
            <li class="runtime"></li>
            <li class="director"></li>
            <li class="actors"></li>
            <li class="writer"></li>
            <li class="awards"></li>
          </ul>
        </div>
      </div>
      <div id="no-results" class="text-muted">
        No results found :(
      </div>
    </div>
  </div>
</div>
{% endblock %}
