{% extends "base.html" %}

{% block content %}
<div id="scrolling-background"><div class="transparent-overlay"></div></div>
<div class="container-fluid header-container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="headline">Find info on millions of movies</h1>
    </div>        
  </div>
  <div class="row">
    <form name="searchForm" id="search-form" ng-controller="SearchController as searchCtrl" ng-submit="searchCtrl.searchMovie()" ng-init="searchCtrl.searchMovie('{{imdb_id}}')" novalidate>
      <div class="form-group">
        <label for="movie-title">Movie Title</label>
        <input ng-model="movie.input_title" type="text" class="form-control" id="movie-title" placeholder="e.g. Pulp Fiction" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Enter the title of a movie.">
      </div>
      <div class="form-group">
        <label for="movie-year">Release Year</label>
        <input ng-model="movie.input_year" type="text" class="form-control" id="movie-year" placeholder="(Optional)" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Hmmm that year doesn't seem right.">
      </div>
      <div class="form-group">
        <i class="fa fa-spin fa-spinner fa-lg loading-spinner"></i>
        <button id="search-btn" class="btn btn-success">Search</button>
      </div>
    </form>
  </div>
</div>
<div id="results-page" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div id="no-results" class="text-muted">
        No results found :(
      </div>
      <div id="movie-results" class="row" ng-controller="MovieController as movieCtrl">
        <div id="movie-poster" class="col-xs-12 col-sm-5">
          <img ng-src="{[movieCtrl.movie.poster ? movieCtrl.movie.poster : '/static/img/no_poster.png']}" alt="">
          <ul class="share-links">
            <li><a ng-href="{[movieCtrl.movie.facebookURL]}" class="ssk ssk-text ssk-facebook" target="_blank">Share on Facebook</a></li>
            <li><a ng-href="{[movieCtrl.movie.twitterURL]}" class="ssk ssk-text ssk-twitter" target="_blank">Share on Twitter</a></li>
            <li><a ng-href="{[movieCtrl.movie.gplusURL]}" class="ssk ssk-text ssk-google-plus" target="_blank">Share on Google+</a></li>
          </ul>
        </div>
        <div class="movie-sidebar col-xs-12 col-sm-7 col-sm-offset-5" >
          <div class="vertical-space visible-xs"></div>
          <ul id="movie-info">
            <!-- Top Area -->
            <li class="title">{[movieCtrl.movie.title]}</li>
            <li class="rated label label-default">{[movieCtrl.movie.parsedRated]}</li>
            <li class="divider"></li>
            <li class="stars" ng-bind-html="movieCtrl.movie.parsedStars"></li>
            <li class="year">Released {[movieCtrl.movie.year]}</li>
            <li class="genre">{[movieCtrl.movie.genre]}</li>

            <!-- Middle Area -->
            <li class="plot">{[movieCtrl.movie.plot === 'N/A' ? '' : movieCtrl.movie.plot]}</li>

            <!-- Bottom Area -->
            <li class="runtime">Runtime {[movieCtrl.movie.runtime]}</li>
            <li class="director" ng-bind-html="movieCtrl.movie.parsedDirectors"></li>
            <li class="actors" ng-bind-html="movieCtrl.movie.parsedActors"></li>
            <li class="writer" ng-bind-html="movieCtrl.movie.parsedWriters"></li>
            <li class="awards" ng-bind-html="movieCtrl.movie.parsedAwards"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
