<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Movie Info: Find info on thousands of movies</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="static/img/apple-touch-icon.png">
    <link rel="icon" href="static/img/favicon.ico">
    
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/main.css">
  </head>
  <body>
    <div id="scrolling-background"><div class="transparent-overlay"></div></div>
    <div class="container-fluid header-container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="headline">Find info on thousands of movies</h1>
        </div>        
      </div>
      <div class="row">
        <form id="search-form">
          <div class="form-group">
            <label for="movie-title">Movie Title</label>
            <input type="text" class="form-control" id="movie-title" placeholder="e.g. Pulp Fiction" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Please enter the title of a movie.">
          </div>
          <div class="form-group">
            <label for="movie-year">Release Year</label>
            <input type="text" class="form-control" id="movie-year" placeholder="(Optional)" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Hmmm that year doesn't seem right.">
          </div>
          <div class="form-group">
            <i class="fa fa-spin fa-spinner fa-lg loading-spinner"></i>
            <button id="search-btn" class="btn btn-success">Search</button>
          </div>
        </form>
      </div>
    </div>
    <div id="results-page" class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div id="movie-results" class="row">
            <div id="movie-poster" class="col-xs-12 col-sm-5">
              <img src="" alt="">
            </div>
            <div class="movie-sidebar col-xs-12 col-sm-7 col-sm-offset-5" >
              <div class="vertical-space visible-xs"></div>
              <ul id="movie-info">
                <!-- Top Area -->
                <li class="title"></li>
                <li class="rated label label-default"></li>
                <li class="divider"></li>
                <li class="stars"></li>
                <li class="year"></li>
                <li class="genre"></li>

                <!-- Middle Area -->
                <li class="plot"></li>

                <!-- Bottom Area -->
                <li class="runtime"></li>
                <li class="director"></li>
                <li class="actors"></li>
                <li class="writer"></li>
                <li class="awards"></li>
              </ul>
            </div>
          </div>
          <div id="no-results" class="text-muted">
            No results found :(
          </div>
        </div>
      </div>
    </div>
    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="static/js/vendor/bootstrap.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>
  
    <div id="alert-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 id="alert-modal-title" class="modal-title"></h4>
          </div>
          <div id="alert-modal-body" class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
